form {
  width: 100%;
}
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
button {
  background-color: white;
  color: black;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}
